In [17]:
# import libraries
import pandas as pd
import numpy as np
import scipy as sp

# Qestion 1
# 1.a
# import data in the us_shipping directory to a Pandas dataframe
raw_data = "./us_shipping/us_shipping.csv"
df = pd.DataFrame.from_csv(raw_data,header=0, index_col=None)


#replace missing values
#replace X and S with nan
for col in df.columns[3:7]:
    df[col] = df[col].replace("S",np.nan)
    df[col] = df[col].replace("X",np.nan)
    df[col] = df[col].replace("Z",np.nan)

In [18]:
#Question 1.b Create a new dataframe

# firstly get all state names in the file
states = set(df["Origin"])
states = sorted(states)

# now get all modes in the file
modes = set(df["Mode"])
modes = sorted(modes)


#create two new dataframes to store data
new_df_2012_value = pd.DataFrame(0, index=states,columns=modes)
new_df_2007_value = pd.DataFrame(0, index=states,columns=modes)

In [19]:
# fill the new data frame by iterating the original df 
# new_df_2012_value is a dataframe that has export information in terms of value in year 2012
# new_df_2017_value is a dataframe that has export information in terms of value in year 2017
# referred to http://pandas.pydata.org/pandas-docs/stable/indexing.html

for index, row in df.iterrows():
    if row["Year"]==2012:
        new_df_2012_value.loc[row["Origin"],row["Mode"]] = row["Value"]
        

for index, row in df.iterrows():
    if row["Year"]==2007:
        new_df_2007_value.loc[row["Origin"],row["Mode"]] = row["Value"]

new_df_2012_value

,Air (incl truck and air),All modes,Deep sea,For-hire truck,Great Lakes,Inland water,Multiple Waterways,Multiple modes,Other modes,Other multiple modes,"Parcel, U.S.P.S. or courier",Pipeline,Private truck,Rail,Rail and water,Single modes,Truck,Truck and rail,Truck and water,Water
Alabama,1458,214750,0,114642,0,NaN,243,28749,0,0,15409,448,57767,10663,0,186001,172409,12464,NaN,NaN
Alaska,2695,19848,2909,2883,0,212,0,1036,0,0,442,2054,6647,1412,3,18812,9530,NaN,581,3121
Arizona,8168,147147,0,70781,0,0,0,26072,0,0,25894,0,40530,1596,0,121075,111311,138,NaN,0
Arkansas,NaN,114095,0,58953,0,480,0,8186,0,0,4701,0,38821,6142,NaN,105909,97775,2467,760,480
California,78193,1476407,NaN,624281,0,9376,0,292281,0,0,271957,59176,383233,19843,NaN,1184126,1007514,16157,3762,19400
Colorado,5121,158800,0,68764,0,0,0,35058,0,0,31332,0,46926,2932,14,123743,115690,3654,58,0
Connecticut,5073,271125,0,131190,0,3,0,28759,0,0,28003,1180,104703,NaN,NaN,242366,235893,NaN,29,3
Delaware,850,42768,0,22546,0,0,NaN,7385,0,0,6941,0,11079,NaN,0,35383,33624,444,NaN,NaN
District of Columbia,NaN,2509,0,754,0,0,0,108,0,0,108,0,1647,0,0,2401,2401,0,0,0
Florida,19885,440516,50,187483,0,15,NaN,73973,0,0,67381,NaN,152152,4761,NaN,366543,339635,6177,412,85
Georgia,16506,395725,0,221268,0,NaN,11,48831,0,0,41227,NaN,98400,9357,NaN,346894,319668,7071,470,NaN
Hawaii,1027,22156,601,3560,0,NaN,0,1896,0,NaN,934,7366,7696,NaN,0,20259,11256,0,957,602
Idaho,NaN,41405,0,16218,0,0,0,6993,0,0,5821,0,11946,4611,0,34412,28164,1147,26,0
Illinois,11390,825191,0,424941,0,7180,170,139912,0,NaN,112700,39021,167775,34802,NaN,685279,592716,23373,3210,7349
Indiana,7489,393998,0,226205,0,169,1048,47962,0,0,40853,NaN,75960,17975,NaN,346036,302165,6900,191,1217
Iowa,584,195992,0,97022,0,1468,0,20588,0,0,11599,119,54511,21700,107,175404,151533,6820,NaN,1468
Kansas,3203,218973,0,124432,0,0,0,25897,0,0,18618,0,55769,9672,0,193076,180201,6544,NaN,0
Kentucky,4210,268530,0,154152,0,4030,NaN,39978,0,NaN,31124,10938,45691,9047,NaN,228552,199843,8508,59,4513
Louisiana,903,349658,NaN,68363,0,70740,13885,17907,0,0,6657,77038,46306,36129,NaN,331751,114670,9338,NaN,103011
Maine,261,38545,NaN,14693,0,0,0,5200,0,0,4639,22,16059,1037,0,33344,30752,513,NaN,NaN
Maryland,1860,162416,0,78914,0,NaN,NaN,21457,0,0,20558,NaN,59213,879,0,140960,138127,NaN,11,NaN
Massachusetts,16515,235932,0,88587,0,0,NaN,58210,0,0,57838,NaN,71360,1251,0,177721,159947,364,8,NaN
Michigan,6515,427177,0,223750,272,0,169,73038,0,NaN,40558,4433,110904,8095,NaN,354140,334655,31862,308,441
Minnesota,8625,270394,0,134161,153,1106,419,46376,0,0,42373,NaN,64728,14751,185,224018,198889,2940,879,1678
Mississippi,NaN,140334,NaN,62166,0,736,NaN,9065,0,0,7089,4,55227,3301,NaN,131269,117393,1050,NaN,7853
Missouri,NaN,242404,0,117976,0,2032,35,42517,0,0,38004,0,63139,8330,NaN,199887,181115,3163,1255,2067
Montana,1058,30561,0,8057,0,0,0,2538,0,0,2267,4883,9327,4697,0,28023,17385,266,5,0
Nebraska,395,109147,0,55616,0,0,0,9850,0,0,7281,0,25850,17436,0,99298,81467,2564,4,0
Nevada,3457,69591,0,33439,0,0,0,14201,0,0,14091,0,15428,NaN,0,55390,48866,61,NaN,0
New Hampshire,1570,42805,0,14790,0,0,0,8792,0,0,8593,0,17653,NaN,0,34013,32443,191,7,0
New Jersey,9811,450795,NaN,218985,0,4465,NaN,81924,0,0,80091,NaN,119778,3910,0,368872,338763,1676,156,6362
New Mexico,NaN,48793,0,18212,0,0,0,2947,NaN,0,2589,0,17053,1338,NaN,45526,35265,NaN,NaN,0
New York,16915,545050,0,239728,0,0,0,108083,0,0,104078,NaN,176908,2425,0,436967,416636,2581,NaN,0
North Carolina,8796,385732,0,231911,0,0,0,36985,0,0,33888,NaN,104245,3737,0,348747,336156,2749,348,0
North Dakota,48,45743,0,14348,0,0,0,3489,291,0,2442,1891,16804,8872,0,41962,31151,1040,NaN,0
Ohio,13714,587929,0,334894,0,589,37,70056,0,NaN,61479,25598,123573,19467,604,517872,458467,7052,920,626
Oklahoma,1144,169262,0,85398,0,1400,0,8884,0,0,7551,NaN,52944,9182,0,160379,138341,1216,NaN,1400
Oregon,20253,147065,390,63852,0,NaN,NaN,16905,0,0,13976,15,37175,NaN,0,130160,101027,2269,661,882
Pennsylvania,11288,550644,0,275012,0,NaN,NaN,74953,0,0,71921,NaN,165562,11971,987,475691,440574,1758,287,NaN
Rhode Island,NaN,45575,0,26109,0,NaN,0,6133,0,0,6123,0,11661,27,0,39441,37770,8,NaN,NaN
South Carolina,NaN,159760,0,85263,0,0,52,19080,0,0,14317,0,40724,8633,0,140680,125987,4690,73,52
South Dakota,NaN,58621,0,28675,0,0,0,6595,0,0,NaN,0,18329,4770,0,52026,47004,1464,NaN,0
Tennessee,5492,329399,0,191666,0,1342,56,50024,0,0,40020,12,65488,NaN,NaN,279376,257154,9313,NaN,1398
Texas,49259,1897658,16261,757034,0,106147,3044,166454,0,0,144429,227229,494037,78194,1370,1731204,1251071,18973,NaN,125452
Utah,4360,108593,0,48260,0,0,0,23521,147,0,22008,4452,22884,4969,NaN,84925,71145,973,222,0
Vermont,1688,24980,0,11198,0,0,0,4242,0,0,3474,0,7714,138,0,20738,18912,NaN,25,0
Virginia,5404,238576,0,130420,0,415,NaN,25138,0,0,24287,NaN,73559,3565,NaN,213437,203978,496,NaN,473
Washington,56529,296901,2881,84656,0,NaN,NaN,62849,0,0,51905,13988,65490,8840,NaN,234052,150146,7119,3503,4548
West Virginia,631,54759,0,26666,0,1084,NaN,3977,0,328,2552,11,12811,9532,794,50782,39476,206,97,1132
Wisconsin,7217,311937,0,173671,0,42,0,34742,0,0,30128,9966,79386,6912,0,277195,253057,4331,283,42
Wyoming,15,25470,0,8092,0,0,0,957,268,0,882,NaN,5019,8667,NaN,24246,13111,68,NaN,0

In [41]:
# Question 1.d
# create a function that returns a dictionary that stores proportional value of exports shipped by a given state in year 2012
# 
# single modes that will be calculated in the function
single_modes=["Deep sea","For-hire truck","Great Lakes", "Inland water","Other modes","Pipeline","Private truck","Rail",]

single_modes_set= set(single_modes)

def proportion(state):
    row = new_df_2012_value.loc[state]
    ret={}
    for mode in single_modes_set:
        if row[mode] >0 :
            ret[mode] = float(row[mode])/float(row["All modes"])
    return ret

# Now we can test it
dat = proportion("South Carolina")
print dat
# Firstly the proportional value of all single modes should be 1 or less than 1
print sum(dat.itervalues())

dat = proportion("New York")
print dat
# the proportional value of all single modes should be 1 or less than 1
print sum(dat.itervalues())

{'Pipeline': 0.0, 'Private truck': 0.25490736104156236, 'Rail': 0.05403730595893841, 'Deep sea': 0.0, 'Other modes': 0.0, 'For-hire truck': 0.5336942914371557}
0.842638958438
{'Private truck': 0.3245720576093936, 'For-hire truck': 0.43982753875791214, 'Rail': 0.004449133107054398, 'Other modes': 0.0, 'Inland water': 0.0}
0.768848729474

In [39]:
# Question 1.e
# find the modes had the biggest positive and negative differences in tons-shipped from 2007 to 2012

# firstly we can construct a dataframe to store all shippment in tons by modes in 2007 and 2012
df_shipped_tones = pd.DataFrame(0, index={2007,2012},columns=modes)

# now fill the dataframe by going through the orignal df  
for index, row in df.iterrows():
    if row["Year"]==2007 and row["Tons"]>0:
        df_shipped_tones.loc[2007,row["Mode"]] += float(row["Tons"])
    elif row["Year"]==2012 and row["Tons"]>0:
        df_shipped_tones.loc[2012,row["Mode"]] += float(row["Tons"])

df_shipped_tones

,Air (incl truck and air),All modes,Deep sea,For-hire truck,Great Lakes,Inland water,Multiple Waterways,Multiple modes,Other modes,Other multiple modes,"Parcel, U.S.P.S. or courier",Pipeline,Private truck,Rail,Rail and water,Single modes,Truck,Truck and rail,Truck and water,Water
2012,4205.0,11299406.0,60302.0,4298693.0,31403.0,356752.0,36926.0,336511.0,30831.0,2418.0,28314.0,593510.0,3761473.0,1609268.0,35947.0,10905516.0,8060169.0,195262.0,21195.0,514445.0
2007,2575.0,12543426.0,36370.0,4074037.0,16215.0,306945.0,0.0,550045.0,199405.0,89505.0,33899.0,621762.0,4626270.0,1839268.0,22591.0,11698131.0,8778710.0,187732.0,119666.0,364413.0

In [40]:
# add a row "Difference" in df df_shipped_tones to store difference in tons by modes
for mode in modes:
    tons_2012 = df_shipped_tones.loc[2012,mode]
    tons_2007 = df_shipped_tones.loc[2007,mode]
    df_shipped_tones.loc["Difference",mode] = tons_2012-tons_2007
    
df_shipped_tones

,Air (incl truck and air),All modes,Deep sea,For-hire truck,Great Lakes,Inland water,Multiple Waterways,Multiple modes,Other modes,Other multiple modes,"Parcel, U.S.P.S. or courier",Pipeline,Private truck,Rail,Rail and water,Single modes,Truck,Truck and rail,Truck and water,Water
2012,4205.0,11299406.0,60302.0,4298693.0,31403.0,356752.0,36926.0,336511.0,30831.0,2418.0,28314.0,593510.0,3761473.0,1609268.0,35947.0,10905516.0,8060169.0,195262.0,21195.0,514445.0
2007,2575.0,12543426.0,36370.0,4074037.0,16215.0,306945.0,0.0,550045.0,199405.0,89505.0,33899.0,621762.0,4626270.0,1839268.0,22591.0,11698131.0,8778710.0,187732.0,119666.0,364413.0
Difference,1630.0,-1244020.0,23932.0,224656.0,15188.0,49807.0,36926.0,-213534.0,-168574.0,-87087.0,-5585.0,-28252.0,-864797.0,-230000.0,13356.0,-792615.0,-718541.0,7530.0,-98471.0,150032.0

In [45]:
df_shipped_tones=df_shipped_tones[single_modes]
ton_difference = df_shipped_tones.loc["Difference"]
max_in_tone=max(abs(i) for i in ton_difference)

print max_in_tone
print ton_difference
# --------------
# so we can tell that the Private truck mode had the biggest differences in tons from 2007 to 2012
# -------------------

864797.0
Deep sea           23932.0
For-hire truck    224656.0
Great Lakes        15188.0
Inland water       49807.0
Other modes      -168574.0
Pipeline          -28252.0
Private truck    -864797.0
Rail             -230000.0
Name: Difference, dtype: float64

In [62]:
# Question 1.e
# find the state decreased the most in the export value across all modes from 2007 to 2012

# Just need the value under All mode to compare the difference
# in previous steps, the export value by state are collected in df new_df_2012_value and new_df_2007_value

df_2012_value_allmodes = new_df_2012_value["All modes"]
df_2007_value_allmodes = new_df_2007_value["All modes"]

# iterate the two df and store the difference in a dict
value_diff={}

for state in states:
    value_2007= float(df_2007_value_allmodes[state])
    value_2012= float(df_2012_value_allmodes[state])
    value_diff[state]=value_2007-value_2012

# now we can find the largest value in the list, which is state decreased the most in the 
# export value across all modes from 2007 to 2012
#
# the state decreased the most in the export value across all modes from 2007 to 2012 is Tennessee
print "The state is: ", max(value_diff, key=value_diff.get)
print "Export decreaed by ", max(value_diff.itervalues())

The state is:  Tennessee
Export decreaed by  103871.0