In [93]:
#Question 2

# import libraries
import pandas as pd
import numpy as np
import scipy as sp
import re

#Firstly we need to read reviews from hotel.dat file
hotel_raw_data = "./trip_advisor/hotel.dat"
# create a dataframe from the raw data
# But we need to process the data to a nicer format before making use of it
df_hotel = pd.read_table(hotel_raw_data,sep='\n',header=None, index_col=False)

0    <Author>mal51
Name: 0, dtype: object

In [162]:
# Create regular express pattern here to process tagged data in df_hotel 

# I will use regex.match function to create a list and then extract information from it
# it is learnt from the example programs provided in CSCI4146

# The pattern does not cover image tag since it is not required for this moment
pattern_tag=r'<([A-Z0-9.-_ ]+)>([A-Z0-9.%-_ ]+)'
regex = re.compile(pattern_tag, flags = re.IGNORECASE)
df_hotel.iloc[1,0]
m= regex.match(df_hotel.iloc[2,0])
if(m):
    result =m.groups()
    print result[0]

Date

In [155]:
# Now go through the raw data and get all tag names 
index=0
raw_headers=[] # tags are stored in an array
raw_count = df_hotel.count()[0]

#
while (index < raw_count):
    m= regex.match(df_hotel.iloc[index,0])
    if (m):
        raw_headers.append(m.groups()[0])
    index=index+1

headers=set(raw_headers)

print list(headers)

['No. Helpful', 'Business service', 'Service', 'Author', 'Cleanliness', 'No. Reader', 'Check in / front desk', 'Overall', 'Value', 'Content', 'Rooms', 'Date', 'Location']

In [156]:
# Create a dataframe to store processed data
hotel_review_by_user=pd.DataFrame("No Data",index=range(raw_count/10) ,columns=list(headers))
print list(headers)

['No. Helpful', 'Business service', 'Service', 'Author', 'Cleanliness', 'No. Reader', 'Check in / front desk', 'Overall', 'Value', 'Content', 'Rooms', 'Date', 'Location']

In [165]:
index=0
user_Count=-1

while (index < raw_count):
    m= regex.match(df_hotel.iloc[index,0])
    if (m and m.groups()[0]=='Author'):
        user_Count=user_Count+1
    if (m):
        result = m.groups()
        hotel_review_by_user.loc[user_Count,result[0]]=result[1]
    index=index+1



hotel_review_by_user

In [166]:

hotel_review_by_user

,No. Helpful,Business service,Service,Author,Cleanliness,No. Reader,Check in / front desk,Overall,Value,Content,Rooms,Date,Location
0,-1,4,5,mal51,5,-1,5,5,5,Loved the Melia Caribe Tropical I went to this...,3,"Jan 8, 2009",5
1,2,4,5,lucatony,5,2,4,5,3,Excellent Trip My wife and I just returned fro...,5,"Jan 6, 2009",5
2,-1,5,5,conniejo688,5,-1,5,5,5,Wonderfrul We (my husband and I) spent the Chr...,5,"Jan 6, 2009",5
3,2,-1,4,meginmd09,5,2,3,5,4,Relaxing and Wonderful Two families spent the ...,4,"Jan 2, 2009",5
4,4,-1,5,lynniepie,5,4,5,5,4,Great Royal getaway What a great pampered vaca...,5,"Dec 30, 2008",5
5,5,3,3,rightcoastgirl,3,6,3,4,-1,A Beautiful Place with A Few Quirks We stayed ...,3,"Dec 20, 2008",4
6,4,-1,1,C_Ville_VASean,1,10,1,1,1,"Ripped off, beware This place is not special, ...",3,"Dec 19, 2008",3
7,2,-1,-1,marinocmar,-1,8,-1,1,-1,terrible From day one we [my wife and I] had n...,-1,"Dec 16, 2008",-1
8,5,-1,4,vacationgirl001,4,6,3,5,4,A lovely place to stay After reading the repor...,4,"Dec 16, 2008",4
9,2,-1,1,CanadianTravelers1,1,6,1,2,2,Things Have Changed At This Resort - Timeshare...,1,"Dec 15, 2008",5
10,5,4,5,mandarinkaCanada,5,5,5,5,5,Amazing wedding on the beach,5,"Dec 13, 2008",5
11,6,5,4,Velocity_Blonde,3,6,4,3,5,Melia Caribe - nice and a good value Beach,4,"Dec 11, 2008",4
12,4,-1,3,Beachwoman1,3,4,4,4,4,Relaxation and good food. My husband and I wit...,3,"Dec 6, 2008",4
13,3,3,1,barbietime,4,7,2,2,2,Not so friendly I decided to write a review be...,3,"Dec 3, 2008",3
14,2,-1,2,mayor95,3,13,2,2,2,Indifferent Staff DO NOT GO TO PUNTA CANA UNLE...,3,"Dec 1, 2008",3
15,6,2,5,PaulaandChris,5,7,5,5,5,Another fantastic vacation Gabi pool,5,"Nov 28, 2008",5
16,9,-1,5,newbieCanada,5,10,4,5,5,Fantastic Resort,5,"Nov 28, 2008",5
17,2,-1,2,Yorkiegang,2,5,3,2,-1,"Lovely Setting, Lovely grounds. Arrived Thurs....",3,"Nov 23, 2008",5
18,2,1,1,Jupkachu,2,4,1,2,2,A bit disappointed I was down there for a wedd...,1,"Nov 19, 2008",5
19,7,5,5,Pricey100,5,8,5,5,5,An amazing honeymoon at the Melia Tropical I j...,5,"Nov 17, 2008",5
20,3,4,5,flowman692003,4,3,3,5,3,great place The place is great .the food is on...,5,"Nov 16, 2008",4
21,3,-1,3,mkdlovestotravel,5,3,3,4,5,Wonderful experience We just returned from a w...,5,"Nov 16, 2008",5
22,11,-1,3,Elitefreak,2,11,3,4,4,Enjoyed our week at the Melia My family of 4 (...,4,"Nov 9, 2008",4
23,2,3,4,gfy06,4,3,4,4,4,Beautiful resort,4,"Nov 8, 2008",4
24,8,4,5,JHH27012,5,8,5,5,5,Overwhelmed by hospitality Us on the bea...,5,"Nov 8, 2008",5
25,2,-1,-1,EvenMartins,-1,13,-1,1,-1,Never Stay In Sol Melia Sol Or Melia Of Any Kind,-1,"Nov 8, 2008",-1
26,2,4,4,VacationBreeze,4,2,3,3,3,Fun Resort My Wife and I stayed at the Melia C...,3,"Nov 8, 2008",3
27,-1,-1,5,walrus11,5,-1,5,5,5,Great Value royal service beach area,5,"Nov 7, 2008",5
28,4,5,5,stuckinTO,5,4,5,5,5,Impressed and looking forward for next year. ...,5,"Nov 4, 2008",5
29,4,-1,3,dmvbythesea,3,4,3,3,3,AsYou'd Expect..... Beware the Timeshare Sellers,3,"Nov 1, 2008",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1987,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1988,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1989,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1990,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1991,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1992,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1993,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1994,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1995,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1996,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1997,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1998,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
1999,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2000,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2001,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2002,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2003,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2004,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2005,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2006,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2007,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2008,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2009,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2010,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2011,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2012,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2013,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2014,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data
2015,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data